<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/mainstyle.css">
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

    <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css" />
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

    <script src="javascripts/AzureMapDemo.js"></script>
</head>
<script>
    subscriptionKey = "<%- subscriptionKey %>";
</script>
<body onload="GetMap()">
    <div>
        <h1>Odśmiecanie planety</h1>
        <ul class="links">
            <li><a href="index.html">Mapa śmieci</a></li>
            <li><a href="ranking.html">Zgłoś śmieci</a></li>
            <li><a href="writers.html">Posprzątaj śmieci</a></li>
            <li><a href="partnership.html">O nas</a></li>
        </ul>
    </div>
    <div id="myMap"></div>
</body>
</html>